<h3>Here is a list of bands:</h3>
  <%if @bands.any?()%>
     <ul>
        <% @bands.each do |band| %>
      	<li> <a href="/bands/<%= band.id() %>"><%= band.name()%></a> 
          <form action="/bands/<%= band.id() %>" method="post">
            <div class='form-group'>
              <input type="hidden" name="_method" value="delete">
              <button class= "btn btn-danger btn-xs" type="submit">Delete</button>
            </div>
          </form>
        </li> 
   <% end %>
     </ul>
     <%else%> 
        <p>There are no bands in the list yet!</p>
     <% end %>
<br>
<form action="/bands/new" method="post">
   <div class='form-group'>
      <label for="name">Add a band</label>
      <input type="text" name="name" class='form-control'>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>

 <button class= "btn btn-default"><a href="/">Back</a></button>
